* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  font-family: sans-serif;
}

body {
  font-size: 16px;
  padding: 1%;
}

.navbar {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  padding-top: 10px;
  background-color: #a6a6a6;
  /* border: 1px solid pink; */
}

.nav-menu {
  list-style-type: none;
  text-align: center;
  padding: 1%;
}

/* .container {
  margin-top: 3.1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid black;
} */

.wrapper {
  margin-top: 3.1rem;
  height: 100%;
  padding: 3%;
  text-align: center;
  margin-bottom: 2.5rem;
  /* border: solid 1px purple; */
  /* flex-grow: 2; */
}

.search-bar {
  margin: 10px auto 10px auto;
}

.results-thumbnail {
  max-width: 200px;
}

.results {
  padding: 1%;
}

.recipe-details-hidden,
.hidden {
  display:none;
}

.recipe-details {
  text-align: left;
}

/* .ingredients-list ul {
  display: inline;
} */

.ingredients-list li {
  list-style-type: none;
}

.shopping-list-div {
  display: none;
}

.show-list {
  display: block;
  border: 1px solid black;
}

.shop-list li {
  list-style-type: none;
  text-align: left;
}

input[name="list-ingredient"]:checked + .strikeThis {
  text-decoration: line-through;
}

.list-h2 {
  text-align: center;
}

h2:hover {
  background-color: gray;
}

.list-closed {
  display: none;
}
